APScheduler==3.6.3
cachetools==4.2.2
certifi==2021.10.8
emoji==1.6.1
expiringdict==1.2.1
fonttools==4.28.3
grapheme==0.6.0
lottie==0.6.10
Pillow==8.4.0
python-dotenv==0.19.2
python-telegram-bot==13.9
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
six==1.16.0
tornado==6.1
tzdata==2021.5
tzlocal==4.1
